/*
Plugin: jQuery Parallax
Version 1.1.3
Author: Ian Lunn
Twitter: @IanLunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/

@charset "utf-8";
/* CSS Document */


#header h1, #pixels{
	color: #48941A;
}

.float-left{
	float: left;	
	margin: 0 0 0 20px;
}

.float-right{
	float: right;
	margin: 0 20px 0 0;
}

.center{
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}

#nav{
	list-style: none;
	position: fixed;
	right: 20px;
}

#nav li{
	margin: 0 0 15px 0;	
}

#header, #intro, #second{
	width: 100%;
}

#intro{
	background:url(../img/3F-showroom.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 500px;
	margin: 0 auto;
	padding: 0;
}

#second{
	background: url(../img/B01.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 500px;
	margin: 0 auto;
	padding: 0;
}


#third{
	background: url(../img/B01-courtyard.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 500px;
	padding: 100px 0 0 0;	
}

#fourth{
	background: url(../img/B02.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 500px;
	padding: 100px 0 0 0;	
}

#fifth{
	background: url(../img/B03.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 500px;
	padding: 100px 0 0 0;
}

#sixth{
	background: #ccc;
	height: 500px;
	margin: 0 auto;
	padding: 100px 0 0 0;
}

#seventh{
	background: url(../img/B06.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 500px;
	padding: 100px 0 0 0;
}

#eighth{
	background: url(../img/B11.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 500px;
	padding: 100px 0 0 0;
}

#ninth{
	background: url(../img/B12.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 500px;
	padding: 100px 0 0 0;
}

#tenth{
	background: url(../img/B13.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 500px;
	padding: 100px 0 0 0;
}

.story{
	margin: 0 auto;
	min-width: 360px;
	overflow: auto;
	width: 80%;
}

.story .float-left, .story .float-right{
	padding: 100px 0 0 0;
	position: relative;
	min-width: 200px;
    width:auto;
}
